{% extends 'base.html.twig' %}

{% block title %}Les commentaires{% endblock %}

{% block body %}

<main>
    <div class="container">

    <div class="col-12 text-center mt-2">
            <h1>Les commentaires</h1>
        </div>
        
    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            {% if app.user %}
                {% if app.user.hasRole('ROLE_ADMIN') %}
            <tr>
                <td>{{ comment.article.title }}</td>
                <td>{{ comment.date ? comment.date|date('d-m-Y') : '' }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-success rounded-pill my-1">éditer</a>
                </td>
            </tr>
                {% elseif app.user.id == comment.user.id %}
                <tr>
                <td>{{ comment.article.title }}</td>
                <td>{{ comment.date ? comment.date|date('d-m-Y') : '' }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-success rounded-pill my-1">éditer</a>
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Pas de commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}
