{% extends 'base.html.twig' %}

{% block title %}Les commentaires{% endblock %}

{% block body %}

<main>
    <div class="container">

    <div class="col-12 text-center mt-2">
            <h1>Les commentaires</h1>
        </div>
        <div class="col-12 text-center mt-4">
            <a href="{{ path('app_comment_new') }}">Ajouter un commentaire</a>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.date ? comment.date|date('d-m-Y') : '' }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">voir</a>
                    <a href="{{ path('app_comment_delete', {'id': comment.id}) }}">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}
