{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
<main>

    <div class="container">

        <div class="col-12 text-center mt-2">
            <h1>Les articles</h1>
        </div>
        <div class="col-12 text-center mt-4">
            <a href="{{ path('app_article_new') }}" class="btn btn-success rounded-pill">Créer un article</a>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td><img src="{{ asset('uploads/articles/' ~ article.picture) }}" alt="{{article.title}}" class="img-index"></td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary rounded-pill my-1">voir</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-success rounded-pill my-1">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nous n'avons trouvé aucun article</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    
</main>
{% endblock %}
