{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}


    <div class="container">

        <div class="col-12 text-center mt-2">
            <h1> {{article.title}}</h1>
        </div>
        <div class="row">
            <div class="col-6 my-2">
                <img src="{{ asset('uploads/articles/' ~ article.picture) }}" alt="{{article.title}}" class="img-show">
            </div>
            <div class="col-6 my-2">
                </br>
                <h4>>><em>{{ article.category.designation}}</em></h4>
            </div>
            <div class="col-12 my-2">
                <p>{{ article.content }}</p>
            </div>

            <div class="col-6 my-2">

                {% if app.user %}
                    {% if app.user.hasRole('ROLE_ADMIN') %}
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-success rounded-pill">Editer</a>
                    {% elseif app.user.id == article.user.id %}
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-success rounded-pill">Editer</a>
                    {% endif %}
                    <a href="{{ path('app_comment_new', {'article': article}) }}" class="btn btn-primary rounded-pill">Ajouter un commentaire sur l'article</a>
                    <a href="{{ path('app_article_index') }}" class="btn btn-dark rounded-pill">Retour</a>
                {% else %}
                    <a></a>
                    <a href="{{ path('app_home') }}" class="btn btn-dark rounded-pill">Retour</a>
                {% endif %}

            </div>
            <div class="col-6 d-flex align-content-end">
                {% if app.user %}
                    {% if app.user.hasRole('ROLE_ADMIN') %}
                        {{ include('article/_delete_form.html.twig') }}
                    {% elseif app.user.id == article.user.id %}
                        {{ include('article/_delete_form.html.twig') }}
                    {% endif %}
                {% else %}
                    <a></a>
                {% endif %}
            </div>

            <div class="row">
            <div class="col-6 my-2">
                {% for comments in article.comment %}
                    <div class="card rounded-pill mx-2 my-2">
                        <div class="card-body">
                            <strong>Le {{comments.date|date("d/m/Y")}}</strong>, <em>{{comments.user.username}}</em> a commenté : "{{ comments.content }}"
                                {% if app.user %}

                                    {% if app.user.id == comments.user.id %}
                                        <a href="{{ path('app_comment_edit', {'id': comments.id}) }}">modifier</a>
                                    {% elseif app.user.hasRole('ROLE_ADMIN') %}
                                        <a href="{{ path('app_comment_edit', {'id': comments.id}) }}">modifier</a>
                                    {% endif %}
                                {% else %}
                                    <a></a>
                                {% endif %}
                        </div>
                        

                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

{% endblock %}
