<ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="btn btn-primary rounded-pill me-2"  href="{{ path('app_home') }}">Accueil</a>
                    </li>
    

                    {% if app.user %}
                        {% if app.user.hasRole('ROLE_ADMIN') %} 
                            <li class="nav-item ">
                                <a class="btn btn-primary rounded-pill me-2" href="{{ path('app_category_index') }}">Gérer les catégories</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary rounded-pill me-2" href="{{ path('app_article_index') }}">Gérer les articles</a>
                            </li>

                        {% else %}
                            <li class="nav-item ">
                                <a class="btn btn-secondary disabled rounded-pill me-2" href="{{ path('app_category_index') }}">Gérer les catégories</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary rounded-pill me-2" href="{{ path('app_article_index') }}">Gérer mes articles</a>
                            </li>

                        {% endif %}
                    {% else %}
                        <li class="nav-item ">
                            <a class="btn btn-secondary disabled rounded-pill me-2" href="{{ path('app_category_index') }}">Gérer les catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary disabled rounded-pill me-2" href="{{ path('app_article_index') }}">Gérer mes articles</a>
                        </li>

                    {% endif %}
                    
                    
                    {% if app.user %}
                    <li class="btn btn-light rounded-pill me-2">
                        Bonjour, <strong>{{ app.user.firstname }} {{ app.user.lastname }}</strong>! <a href="{{ path('app_logout') }}">déconnexion</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary rounded-pill me-2" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary rounded-pill me-3" href="{{ path('app_register') }}">
                                S'enregistrer
                            </a>
                        </li>
                    {% endif %}

                </ul>