{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}


<div class="container">

    <div class="col-12 text-center mt-2">
            <h1> Tous les utilisateurs</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Pseudonyme</th>
                <th>Email</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary rounded-pill my-1">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
